.project-card {
    position: relative;
}

.project-description {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 1;
}

.show-description-btn:hover .project-description {
    display: block;
}
